{% assign cat_name = page.category %}
<p class="title is-4">Latest Posts in {{cat_name}}</p>

<div class="columns is-multiline">
    {% for post in site.categories[cat_name] limit:3 %}
    <div class="column is-12">
        {% if include.simple_card %}
        <header class="card-header">
            <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}"
              >{{ post.title}}</a
            >
        </header>
        {% else %}
        {% include post-card.html %}
        {% endif %}
    </div>
    {% endfor %}
</div>
