{% assign cat_name = include.cat %}
            <div class="card">
      
              {% if cat_name.image %}
              <div class="card-image">
                <figure class="image">
                  <img loading=lazy src="{{ cat_name.image }}" alt="{{ cat_name.title }}" />
                </figure>
              </div>
              {% endif %}
              <div class="card-content">
      
                <p class="title is-5 has-text-centered">{{ cat_name.hero_title }}</h2>
                    <p class="subtitle is-6 has-text-centered">{{ cat_name.description }}</h2>
              </div>
            </div>
  