
  <form id="subscrb_form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=TariqHawis', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <div class="content is-medium">Subscribe and stay tuned for my last security posts</div>
    <input type="hidden" value="TariqHawis" name="uri">

    <input type="hidden" name="loc" value="en_US">
    <div class="columns is-centered">

        <div class="column is-8">
          <div class="field has-addons">
              <div class="control is-expanded">
                <input type="text" name="email" placeholder="name@example.com" class="input">
              </div>
              <div class="control">
                  <a href="javascript:{}" onclick="document.getElementById('subscrb_form').submit();" class="button is-info">Subscribe</a>
              </div>
          </div>
        </div>
      </div>
    </form>