<div class="content is-medium">
<h2 class="has-text-centered">Learn How to Stay Secure Online</h2>

<p>You'll find the best practice that's worked for me, and all my students.</p>
     <form id="subscrb_form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=TariqHawis', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    <p>Join your peers and stay tuned for my daily tips and tricks</p>
                    <input type="hidden" value="TariqHawis" name="uri" />

                    <input type="hidden" name="loc" value="en_US" />
        <div class="columns is-centered">

            <div class="column is-6">
              <div class="field has-addons">
                  <div class="control">
                    <input class="input" type="text" name="email" placeholder="name@example.com" />
                  </div>
                  <div class="control">
                      <a href="javascript:{}" onclick="document.getElementById('subscrb_form').submit();" class="button is-info">Subscribe</a>
                  </div>
              </div>
            </div>
         </div>
     </form>
</div>
