---
---
$primary: #333;
$secondary: rgb(255, 255, 255);
$info: #981430;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;
$body-background-color: $secondary;
// Import Main CSS file from theme
@import "main";

.hero {
    .title,
    .subtitle {
        text-shadow: 1px 1px rgba($primary, 0.5);
        animation: appear 1s;
    }
}

div.highlight {
    margin-bottom: 1rem;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    background-color: $primary;
    padding: 3rem 1.5rem 1rem;
  }
.footer a {
    color: white;
}
.footer a:hover {
    color: grey;
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
  }

.footer p {
    color: $secondary;
}
