---
layout: page
title: Blog
hero_title: My Blog Posts
hero_image: /img/blog-hero1.jpg
hero_height: is-large
image: /img/blog-hero1.jpg
show_sidebar: true
---

<div class="columns is-multiline">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-12">
            {% include pagination.html %}
    </div>
</div>
