---
layout: default
---

{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}


<div class="content is-size-5">
  {% if page.hide_hero %}
  <h1 class="title is-2">{{ page.title }}</h1>
  {% endif %}
  <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
  {{ content }}
</div>

<div class="tags">
  {% for tag in page.tags %} {% include tag.html tag=tag %} {% endfor %}
</div>

{% unless site.hide_share_buttons %} {% include share-buttons.html %} {%
endunless %} {% if site.disqus.shortname %} {% include disqus.html %} {% endif
%}
